<h1>Burgers!</h1>

<div class=row>
  <div class=col-md-6>
    <h2>Burgers that are not devoured!</h2>


    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class=col-md-6>
    <h2>Burgers that have been devoured!</h2>

    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
<div class=row>
  <div class=col-md-12>
    <h2>Add a Burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="makeBurger">Burger Name:</label>
        <input type="text" id="makeBurger" name="name">
      </div>

      <div class="form-group">
        <label for="devoured">Devoured?</label><br>
        <input type="radio" name="devoured" value="0" checked> Not Devoured!<br>
        <input type="radio" name="devoured" value="1"> Devoured!
      </div>

      <button type="submit">Add Burger</button>

    </form>
  </div>
</div>